/*EDIÇÃO GLOBAL*/
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*BACKGROUND*/
body {
    background-image: url("/imgs/otherbg3.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* INICIO DO MEU NAV*/

#menu {
    list-style: none;
    padding: 10px;
    background-color: rgba(255, 254, 254, );
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.telecall-logo {
    position: fixed;
    width: 200px;
    left: 10px;
    top: 5px;

}


#menu li {
    display: inline;
    padding: 30px;

}

#menu a {
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    transition: background .2s;

}

#menu a:hover {
    color: #ffffff;
    background-color: #0000ae;
    border-radius: 50px;
}

#menu .navcadastro {
    margin: auto 8px;
    color: white;
    float: right;
    background-color: #c51d1d;

}

#menu .navcadastro:hover {
    color: rgb(255, 255, 255);
    background-color: #9b1c1c;

}

#menu .navlogin {
    color: white;
    float: right;
    background-color: #c51d1d;

}

#menu .navlogin:hover {
    color: white;
    background-color: #9b1c1c;

}

/*FINAL DO MEU NAV*/

/*LOGO NO MEIO DA TELA*/
#idlogo {
    text-align: center;

}

.logo {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 20px;

}

/*FIM DA LOGO DO MEIO DA TELA*/

/*INICIO DA FORM*/
fieldset {
    margin: 0 auto;
    padding: 30px;
    max-width: 700px;
    border: 4px solid #363636;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.6);
}

label {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
}

/* TODOS INPUT, MENOS DATE*/
input[type="text"],
input[type="password"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #ffffff;
    margin-bottom: 20px;
}

select {
    cursor: pointer;
}

input[type="date"] {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

form input:focus {
    background-color: rgb(235, 229, 229);
}

/*Estilização do submit*/
form input[type=submit] {
    background-color: #c51d1d;
    display: flex;
    border: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 80px;
    border-radius: 50px;
    cursor: pointer;

}

input[type="submit"]:hover {
    background-color: #9b1c1c;
}

/*FINAL DA FORM*/