* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url("/imgs/otherbg3.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#menu {
    list-style: none;
    padding: 10px;
    background-color: rgba(255, 254, 254, 0.8);
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.telecall-logo {
    position: fixed;
    width: 200px;
    left: 10px;
    top: 5px;

}


#menu li {
    display: inline;
    padding: 30px;

}

#menu a {
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    transition: background .2s;

}

#menu a:hover {
    color: #ffffff;
    background-color: #0000ae;
    border-radius: 50px;
}

.navcadastro {
    margin: auto 8px;
    color: rgb(255, 255, 255);
    float: right;
    background-color: #c51d1d;

}

.navcadastro:hover {
    color: #11101b;
    background-color: rgb(231, 230, 230);
    border-radius: 50px;
}

.navlogin {
    color: white;
    float: right;
    background-color: #c51d1d;

}

.img-frontal {
    position: static;
    width: 100%;
    height: 100%;
}

/*SEÇÃO DE PLANOS INICIO*/

#planos {
    margin-top: 130px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#planos h1 {
    position: relative;
    top: -130px;
    color: rgb(0, 59, 113);
    font-size: 40px;
    margin: 0;
    padding: 20px 0;
    text-align: center;
}

.mega100p {
    position: relative;
    top: -80px;
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
    width: 150px;
    height: 50px;
    line-height: 45px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(0, 59, 113);
    color: #fff;
    transition: background-color 0.4s;

}

#planos a {
    text-decoration: none;
    color: white;
}


.mega100p,
.mega200p,
.mega300p {
    position: relative;
    top: -80px;
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
    width: 150px;
    height: 50px;
    line-height: 45px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(0, 59, 113);
    color: #fff;
    transition: background-color 0.4s;

}

.mega100p:hover,
.mega200p:hover,
.mega300p:hover {
    background-color: #1e13af;

}

#sobre-nos {
    margin: 200px auto;
}





/*SEÇÃO DE PLANOS FINAL*/