/* EDIÇÃO GLOBAL*/
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*BACKGROUND*/
body {
    background-image: url("/imgs/otherbg3.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*INICIO DO NAV*/

/*A NAV ACOMPANHA*/
#menu {
    list-style: none;
    padding: 10px;
    background-color: rgba(255, 254, 254, 0.8);
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.telecall-logo {
    position: fixed;
    width: 200px;
    left: 10px;
    top: 5px;

}


#menu li {
    display: inline;
    padding: 30px;

}

#menu a {
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    transition: background .2s;

}

#menu a:hover {
    color: #ffffff;
    background-color: #0000ae;
    border-radius: 50px;
}

#menu .navcadastro {
    margin: auto 8px;
    color: rgb(255, 255, 255);
    float: right;
    background-color: #c51d1d;

}

#menu .navcadastro:hover {
    background-color: #9b1c1c;
    border-radius: 50px;
}

#menu .navlogin {
    color: white;
    float: right;
    background-color: #c51d1d;
}

#menu .navlogin:hover {
    background-color: #9b1c1c;
    border-radius: 50px;
}

.img-frontal {
    position: static;
    width: 100%;
    height: 100%;
}

/*FINAL DO MEU NAV*/


/*SEÇÃO DE PLANOS INICIO*/

#planos {
    margin-top: 130px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#planos h1 {
    position: relative;
    bottom: 85px;
    color: rgb(0, 59, 113);
    font-size: 40px;
    margin: 0;
    padding: 20px 0;
    text-align: center;
}

#planos a {
    text-decoration: none;
    color: white;
}
/*ESTIILIZAÇÃO DO ASSINE JÁ*/
.mega100p,
.mega200p,
.mega300p {
    position: relative;
    top: -80px;
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
    width: 150px;
    height: 50px;
    line-height: 45px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(0, 59, 113);
    color: #fff;
    transition: background-color 0.4s;

}

.mega100p:hover,
.mega200p:hover,
.mega300p:hover {
    background-color: #1e13af;

}

/*PLANOS FINAL*/

/* INICIO DA ESTILIZAÇÃO DA SEÇÃO QUEM SOMOS*/
#quem-somos {
    margin: 200px auto;
    text-align: center;
}

#quem-somos h1 {
    margin-bottom: 25px;
    text-align: center;
    color: rgb(0, 59, 113);
    font-size: 35px;
}

#quem-somos pre {
    padding: 30px;
    font-size: 29px;
    font-weight: 600;
    box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.7);
    text-shadow: 2px 2px 60px rgba(0, 0, 0, 0.3);
}

#sobre-alinhado {
    display: inline-block;
    align-items: center;
}

/* FINAL DA ESTILIZAÇÃO DA SEÇÃO QUEM SOMOS*/


/*SECÃO DE CONTATO*/
#contato {
    background-color: #31353b;
}

#contato .logo-branco {
    width: 200px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 5px;
}

#contato .logo-link {
    margin-right: 25px;
    width: 40px;
    float: right;
    margin-top: 15px;
}

#contato h1 {
    color: white;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.4);
}

#contato pre {
    display: inline-block;
    width: 40%;
    margin-top: 40px;
    color: white;
    font-size: 30px;
}

/*FINAL DA SEÇÃO DE CONTATOS*/